# Virtual environment
venv/

# Dataset (too large for GitHub)
People_vehicles dataset/

# Checkpoints (too large)
checkpoints/
checkpoints_test/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Jupyter checkpoints
.ipynb_checkpoints/

# Logs
logs/

# Outputs
outputs/

# VS Code
.vscode/

# Split file (regenerated automatically)
data_split.json

# Test files
test.py